body{
  overflow: hidden;
}

.gridelem{
  border-style: solid;
  float: left;
  box-sizing: border-box;
  user-drag: none; 
  user-select: none;
}

#grid{
  border-style: solid;
  position: absolute;
}